.LogoSearch {
    display: flex;
    gap: 1rem;
  }
  .Search {
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
  }
  .Search>input {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(225deg, #3326ab 0%, #15e3eae9 100%);
    border-radius: 5px;
    padding: 2px;
    color: rgb(28, 240, 248);
  }